body {
    background-color: #c0c0c0;
    color: #000000;
    
} 
.subHeading { 

    display: flex;
    background-color:#c0c0c0; 

    
 
}
.subHeading a{ 
    color: #000;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 40px;
    margin: 7%;
    margin-right: 10%;

    
    
}



h1 {
  color: floralwhite;
}

.content{
    margin-left: 20px;
    display: inline-block;
    width: 75%;
    
}


.boxes{
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    clear: both;
    width: 60%;
    height: 100%;
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 10px 10px 5px darkgray; 
    margin-bottom: 50px;
    color: white;
}  .boxes:hover {
    opacity: 0.3;
}


.content h4{
    color:white;
    margin-right: 25px;
    font-size: xx-large;
}
.aboutme {
    font-size: 20px;
    float: right 30px;
    padding: 20px;
    margin-bottom: 50px;
    height: 300px;
    
}
.aboutme img{
    max-width: 150px;
    display: block;
    margin: 10px auto;
    padding-right: 50px;

}
.floatleft{
    float: left;
    margin-left: 25px;

}
.worksection {
    font-size: 20px;
    float: right 30px;
    padding: 10px;
    margin-bottom: 50px;
    color: white; 
    
    
    
}
.contact {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 50px;
    color:black;
    
    
    
}
.contact h4{
    color:black;
    margin-right: 25px; 
    font-size: 40px;
    color: #000
    
    
    
}
.contact a{ 
    text-align: center;
    margin-right: 50px; 
    font-size: 30px;
    text-decoration: none;
    color: #000;
    color: #000
}

.contact {
    font-size: xx-large;
    color: #000
}
@media screen and (max-width: 700px) {
    .aboutme {
        font-size: 1.25rem;
    }
    .subHeading {
       
        flex-direction: column;
        text-align: center;}
}
